@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased selection:bg-brand-500 selection:text-white;
}
